.card-wrapper{
    width: 360px;
}

.card-image-wrapper{
    position: relative;
}
.title{
    position: absolute;
    top: 85%;
    left: 30%;
    color: white;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.card-desc{
    width: 244px;
    height: 48px;
    font-size: 16px;
    margin-bottom: 1rem;
}

@media (max-width:600px) {
    .card-wrapper img{
        width: 95%;
    }
}

/* Card 2 */

.card-outline{
    border: 1px solid rgb(204, 200, 200);
    width: 263px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 20px;
    padding: 5px 0.3rem;
}
.namedheart{
    display: flex;
    font-size: .9rem;
    align-items: center;
    padding:0 .3rem;
    font-weight: 600;
    gap: 5rem;
    cursor: pointer;
    
}
.card-descr{
    padding:0 0.3rem ;
    font-size: .9rem;
}
.price{
    display: flex;
    padding: 0 .3rem;
    gap: 1rem;
}
.price p{
    color: black;
    font-weight: 600;
}
.price del{
    color: grey;
}







/* Cart Cards */
.product-img{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.cart-card{
    width: 703px;
    height: 212px;
    border: 1px solid rgb(198, 191, 191);
    border-radius: 8px;
    padding: 8px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-card-content{
    display: flex;
    justify-content: space-between;
}

.trash img{
    width: 20px;
    height: 25px;
}
.cart-card-content-img{
    display:flex;
    gap: 2rem;
}
.trash{
    display:flex;
    gap: 1rem;
}  

.cart-card-content-img img{
    width: 124px;
    height: 118px;
}
.cart-card-content-img .text{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cart-card-content-img .text span{
   color: grey;
}

.counter {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-top: 2rem;
}

.counter button{
   border: none;
   background: white;
   cursor: pointer;
 
}

.amount{
   margin-top: 2rem; 
}
.amount p{
    font-weight: 600;
}
.amount del{
    color: grey;
}


/* Cart */
.bread-crumb-cart{
    display: flex;
    align-items: center;
    margin-left: 3.5rem;
}
.cart-desc{
    gap: 2rem;
    height: fit-content;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
}
.cart-desc-flex{
    display: flex;
    gap: 5rem;
    font-size: 13px;
   
    
}
.cart-desc-flex-item{
    display: flex;
    gap: 3rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid rgb(213, 209, 209);
   

}
.cart-desc-flex-item span{
   width: 160px;
   font-size: 13px;
   color: grey;
}

.cart-desc-item-total{
    display: flex;
    justify-content: space-between;
}

.btn-cart a{
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: .3rem ;
}

.payment-option{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 1rem;

}
 .payment-option img{
    width: 30px;
    height: 16px;
 }

 @media (min-width:601px) and (max-width:899px) {
    .bread-crumb-cart{
        font-size: 13px;
    }
    .product-top{
        flex-direction: column;
        align-items: center;
    }
    .cart-card{
        min-width: 100%;

    }
    .cart-desc{
        width: 90%;
        margin-bottom: 4rem;
    }
    .trash img{
        width: 17px;
        height: 20px;
    }
    .cart-card-content-img{
        display:flex;
        gap: 1rem;
    }
    .trash{
        gap: 1rem;
    }  

    
    .cart-card-content-img .text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cart-card-content-img .text span{
    color: grey;
    }

    .counter {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 2rem 1rem;
    }

    .counter button{
    border: none;
    background: white;
    cursor: pointer;
    
    }

  
 }
 @media (max-width:600px) {
    .bread-crumb-cart{
        font-size: 13px;
        margin-left: 1rem;
    }
    .product-top{
        flex-direction: column;
        align-items: center;
    }
    .cart-card{
        margin-left: .5rem;
        width: 95%;

    }
    .cart-desc{
        width: 90%;
        margin-bottom: 4rem;
    }
    .trash img{
        width: 17px;
        height: 20px;
    }
    .cart-card-content-img{
        display:flex;
        gap: 1rem;
    }
    .trash{
        gap: 1rem;
    }  

    
    .cart-card-content-img .text{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .cart-card-content-img .text span{
    color: grey;
    }

    .counter {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 70px;
        height: 30px;
        border: 1px solid grey;
        border-radius: 5px;
        margin: 2rem 1rem;
    }

    .counter button{
    border: none;
    background: white;
    cursor: pointer;
    
    }

  
 }
